@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Fotos de Cachorros e Gatos</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <button id="dog-button">Cachorro</button>
    <button id="cat-button">Gato</button>
    <img id="animal-image" src="" alt="Imagem de animal" />
    <script src="~/js/site.js"></script>
</body>
</html>